# 对亚洲足球队进行聚类分析

In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("data/football_team_data.csv",index_col="国家")

In [3]:
df

        2019国际排名  2018世界杯  2015亚洲杯
国家
中国            73       40        7
日本            60       15        5
韩国            61       19        2
伊朗            34       18        6
沙特            67       26       10
伊拉克           91       40        4
卡塔尔          101       40       13
阿联酋           81       40        6
乌兹别克斯坦        88       40        8
泰国           122       40       17
越南           102       50       17
阿曼            87       50       12
巴林           116       50       11
朝鲜           110       50       14
印尼           164       50       17
澳洲            40       30        1
叙利亚           76       40       17
约旦           118       50        9
科威特          160       50       15
巴勒斯坦          96       50       16

In [4]:
X = df.values

In [5]:
X

array([[ 73,  40,   7],
       [ 60,  15,   5],
       [ 61,  19,   2],
       [ 34,  18,   6],
       [ 67,  26,  10],
       [ 91,  40,   4],
       [101,  40,  13],
       [ 81,  40,   6],
       [ 88,  40,   8],
       [122,  40,  17],
       [102,  50,  17],
       [ 87,  50,  12],
       [116,  50,  11],
       [110,  50,  14],
       [164,  50,  17],
       [ 40,  30,   1],
       [ 76,  40,  17],
       [118,  50,   9],
       [160,  50,  15],
       [ 96,  50,  16]], dtype=int64)

In [6]:
X = StandardScaler().fit_transform(X)

In [7]:
X

array([[-0.5842676 ,  0.05223517, -0.64677721],
       [-0.97679881, -2.12423024, -1.03291285],
       [-0.9466041 , -1.77599577, -1.61211632],
       [-1.76186121, -1.86305439, -0.83984503],
       [-0.76543585, -1.16658546, -0.06757374],
       [-0.04076286,  0.05223517, -1.22598067],
       [ 0.26118422,  0.05223517,  0.51162973],
       [-0.34270994,  0.05223517, -0.83984503],
       [-0.13134698,  0.05223517, -0.45370938],
       [ 0.89527309,  0.05223517,  1.28390102],
       [ 0.29137893,  0.92282133,  1.28390102],
       [-0.16154169,  0.92282133,  0.31856191],
       [ 0.71410485,  0.92282133,  0.12549408],
       [ 0.5329366 ,  0.92282133,  0.70469755],
       [ 2.16345083,  0.92282133,  1.28390102],
       [-1.58069297, -0.81835099, -1.80518414],
       [-0.49368348,  0.05223517,  1.28390102],
       [ 0.77449426,  0.92282133, -0.26064156],
       [ 2.042672  ,  0.92282133,  0.89776537],
       [ 0.11021068,  0.92282133,  1.0908332 ]])

In [8]:
model = KMeans(n_clusters=3,max_iter=10)

In [9]:
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=10,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [11]:
df["聚类结果"] = model.labels_

In [12]:
df

        2019国际排名  2018世界杯  2015亚洲杯  聚类结果
国家
中国            73       40        7     2
日本            60       15        5     1
韩国            61       19        2     1
伊朗            34       18        6     1
沙特            67       26       10     2
伊拉克           91       40        4     2
卡塔尔          101       40       13     0
阿联酋           81       40        6     2
乌兹别克斯坦        88       40        8     2
泰国           122       40       17     0
越南           102       50       17     0
阿曼            87       50       12     0
巴林           116       50       11     0
朝鲜           110       50       14     0
印尼           164       50       17     0
澳洲            40       30        1     1
叙利亚           76       40       17     0
约旦           118       50        9     0
科威特          160       50       15     0
巴勒斯坦          96       50       16     0